<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<!-- registrando a classe de autenticação AppUserDetailsService como bean spring -->
	<beans:bean id="appUserDetailsService" class="br.com.locadora.security.AppUserDetailsService"/>
	
	
	<!-- CONFIGURAÇÃO DE CLASSES UTILITÁRIAS QUE RESOLVEM O PROBLEMA DE ACESSO EXPIRADO NAS PÁGINAS  -->
	<beans:bean id="exceptionTranslationFilter" class="org.springframework.security.web.access.ExceptionTranslationFilter">
	    <beans:property name="accessDeniedHandler" ref="jsfAccessDeniedHandler"/>
	    <beans:property name="authenticationEntryPoint" ref="authenticationEntryPoint"/>
	</beans:bean>
	<beans:bean id="jsfAccessDeniedHandler" class="br.com.locadora.security.JsfAccessDeniedHandler">
		<beans:property name="loginPath" value="/AcessoNegado.xhtml"/>
		<beans:property name="contextRelative" value="true"/>
	</beans:bean>
	<beans:bean id="authenticationEntryPoint" class="br.com.locadora.security.JsfLoginUrlAuthenticationEntryPoint">
	    <beans:property name="loginFormUrl" value="/Login.xhtml"/>
	    <beans:property name="redirectStrategy" ref="jsfRedirectStrategy" />
	</beans:bean>
	
	<beans:bean id="jsfRedirectStrategy" class="br.com.locadora.security.JsfRedirectStrategy"/>
	<!-- FIM -->

	<http pattern="/Login.xhtml" security="none"/>
	<http pattern="/Erro.xhtml" security="none"/>
	
	<!-- libera acesso para recursos do projeto como imagens -->
	<http pattern="/javax.faces.resource/**" security="none"/>

	<!-- auto-config=false desabilita a criação da pagina de  login pelo Spring -->
	<http auto-config="false" use-expressions="true">
		<custom-filter ref="exceptionTranslationFilter" before="FILTER_SECURITY_INTERCEPTOR"/>
		
		<intercept-url pattern="/PaginaInicial.xhtml" access="isAuthenticated()"/>
		<intercept-url pattern="/AcessoNegado.xhtml" access="isAuthenticated()"/>
		<intercept-url pattern="/acessorio/**" access="hasAnyRole('VENDEDOR','ADMINISTRADOR')"/>
		<intercept-url pattern="/aluguel/**" access="hasAnyRole('VENDEDOR','ADMINISTRADOR')"/>
		<intercept-url pattern="/carro/**" access="hasAnyRole('ADMINISTRADOR')"/>
		<intercept-url pattern="/fabricante/**" access="hasAnyRole('ADMINISTRADOR')"/>
		<intercept-url pattern="/funcionario/**" access="hasAnyRole('AUXILIAR','VENDEDOR','ADMINISTRADOR')"/>
		<intercept-url pattern="/modeloCarro/**" access="hasAnyRole('ADMINISTRADOR')"/>
		<intercept-url pattern="/motorista/**" access="hasAnyRole('AUXILIAR','ADMINISTRADOR')"/>
		<intercept-url pattern="/relatorio/**" access="hasAnyRole('ADMINISTRADOR')"/>
		<intercept-url pattern="/usuario/**" access="hasAnyRole('ADMINISTRADOR')"/>
		
		<intercept-url pattern="/**" access="denyAll"/>
		
		<form-login login-page="/Login.xhtml" authentication-failure-url="/Login.xhtml?invalid=true" default-target-url="/" always-use-default-target="true"/>
		<logout logout-url="/j_spring_security_logout" invalidate-session="true"/>
	</http>
	
	<authentication-manager>
		<authentication-provider user-service-ref="appUserDetailsService">
<!-- 			<password-encoder hash="md5"/> -->
		</authentication-provider>
	</authentication-manager>
</beans:beans>